body {
    background-image: linear-gradient(to right, blue, lightblue);
    font-family: Roboto, Arial;
}
/* ------------------------------------------- */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    height: 60px;
}
.wys {
    flex: 1;
    display: flex;
    justify-content: center;
}

.pliki {
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-weight: 700;
    border-left: 1px solid black;
    border-right: 1px solid black;
    flex: 3;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
}
.więcej {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 60px;
    font-size: 40px;
    font-weight: 700;
    transition: opacity 0.3s;
    background-color: inherit;
    border: none;
    text-decoration: none;
}

.więcej, .pliki, .material-symbols-outlined { color: black;}

.pliki:hover, .więcej:hover {opacity: 0.7;}

/* -------------------------------------------- */
.tytul {
    padding-bottom: 10px;
    border-bottom: 0.1px solid black;
    color:rgb(58, 58, 231);
    font-weight: 500;
    font-size: 50px;
    text-shadow: 1px 1px 1px darkblue;
    justify-content: center;
    display: flex;
}

.zegar {
    font-size: 18px;
    font-size: max(20px);
    position: absolute;
    right: 0.3px;
    top: 0.3px;
    color: black;
    text-shadow: 0 0 1px black, 0 0 1px black;
}

.material-symbols-outlined {
    cursor: pointer;
    background-color: inherit;
    border: none;
    font-size: 45px;
    transition: opacity 0.3s;
}

.material-symbols-outlined:hover { opacity: 0.7; }
.material-symbols-outlined:active { opacity: 0.3; 
    transform: var();
}



/* -            ----              --            -- --*/

.Dropdown {
    border: 0.2px solid black;
    border-radius: 2px;
    height: 70px;
    width: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(62, 62, 207);
    margin-bottom: 2px;
    margin-left: -70px;
    position: absolute;
    top: 150px;
    display: none;
    font-size: 20px;
}

.wys a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    cursor: pointer;
    top: 226px;
    font-size: 20px;
}

input[type="checkbox"] {
    display: grid;
    cursor: pointer;
    height: 25px;
    width: 25px;
    accent-color: green;
}

