body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

input {
    height: 50px;
    width: 50px;
    font-size: 25px;
    border-radius: 2px;
    border: 1px solid black;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input:focus {
    outline: 2px solid pink;
    border: 1px solid pink;
}

#btn {
    height: 30px;
    width: auto;
    font-weight: bold;
    background-color: pink;
    border: 2px solid darkorchid;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    box-shadow: 2px 2px 0 darkmagenta;
}

#btn:active {
    box-shadow: none;
    transform: translateX(3px);
    transform: translateY(3px);
}

#container-clear {
    display: none;
    flex-direction: column;
    width: 300px;
}

#clear {
    background-color: yellow;
    border: 3px solid orange;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 20px;
    cursor: crosshair;
}

#clear:active {
    opacity: 0.5;
}

